<section>
    <section id="mainSection">
        <h3>Login</h3>
        <form>
            <div class="form-group">
                <label for="emailInput">Email</label>
                <input type="email" class="form-control" id="emailInput" name="emailInput" [(ngModel)]="email"
                    placeholder="Email">
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="passwordInput" name="passwordInput"
                    [(ngModel)]="password" placeholder="Password">
            </div>
            <div class="form-row mb-3">
                <div class="form-check mr-md-4">
                    <input type="checkbox" class="form-check-input" id="checkboxInput" name="checkboxInput" [(ngModel)]="rememberMe">
                    <label class="form-check-label" for="checkboxInput">Remember me</label>
                </div>
                <a [routerLink]="['../forget-password']">Forget password?</a>
            </div>
            <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
        </form>
    </section>
</section>