<div class="row">
    <div class="col-md-6">
        <section class="card">
            <div class="card-body">
                <h5 class="card-title">Line chart</h5>
                <div id="lineChart"></div>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="card">
            <div class="card-body">
                <h5 class="card-title">Area chart</h5>
                <div id="areaChart"></div>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="card">
            <div class="card-body">
                <h5 class="card-title">Bar chart</h5>
                <div id="barChart"></div>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="card">
            <div class="card-body">
                <h5 class="card-title">Horizontal bar chart</h5>
                <div id="horizontalBarChart"></div>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="card">
            <div class="card-body">
                <h5 class="card-title">Pie chart</h5>
                <div id="pieChart"></div>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="card">
            <div class="card-body">
                <h5 class="card-title">Dynamic update chart</h5>
                <div id="dynamicUpdateChart"></div>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="card">
            <div class="card-body">
                <h5 class="card-title">3d pie donut chart</h5>
                <div id="pieDonutChart"></div>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="card">
            <div class="card-body">
                <h5 class="card-title">3d bar chart</h5>
                <div id="barChart3d"></div>
            </div>
        </section>
    </div>
</div>