<div class="row">
    <div class="col-md-6">
        <section class="card">
            <div class="card-body">
                <h5 class="card-title">Line chart</h5>
                <canvas id="lineChart">{{lineChart}}</canvas>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="card">
            <div class="card-body">
                <h5 class="card-title">Area chart</h5>
                <canvas id="areaChart">{{areaChart}}</canvas>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="card">
            <div class="card-body">
                <h5 class="card-title">Bar chart</h5>
                <canvas id="barChart">{{barChart}}</canvas>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="card">
            <div class="card-body">
                <h5 class="card-title">Horizontal bar chart</h5>
                <canvas id="horizontalBarChart">{{horizontalBarChart}}</canvas>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="card">
            <div class="card-body">
                <h5 class="card-title">Radar chart</h5>
                <canvas id="radarChart">{{radarChart}}</canvas>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="card">
            <div class="card-body">
                <h5 class="card-title">Polar area chart</h5>
                <canvas id="polarAreaChart">{{polarAreaChart}}</canvas>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="card">
            <div class="card-body">
                <h5 class="card-title">Doughnut chart</h5>
                <canvas id="doughnutChart">{{doughnutChart}}</canvas>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="card">
            <div class="card-body">
                <h5 class="card-title">Pie chart</h5>
                <canvas id="pieChart">{{pieChart}}</canvas>
            </div>
        </section>
    </div>
</div>