a {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
}

span {
    padding: 12px;
    display: inline-block;
    width: 55px;

    i {
        font-size: 30px;
    }
}